<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142834274196-olfpjk356juva3812i3n278hufgsv5ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142834274196-olfpjk356juva3812i3n278hufgsv5ra</string>
	<key>API_KEY</key>
	<string>AIzaSyClvB3WcjZ93w6W1ZAbSNPJ3aPLSGiCJ4c</string>
	<key>GCM_SENDER_ID</key>
	<string>142834274196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.Void</string>
	<key>PROJECT_ID</key>
	<string>the-void-922c0</string>
	<key>STORAGE_BUCKET</key>
	<string>the-void-922c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142834274196:ios:a02d039f8ffb6767508981</string>
</dict>
</plist>